/* _content/TourBookingWeb/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-7wegc2b8xe] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-7wegc2b8xe] {
  color: #0077cc;
}

.btn-primary[b-7wegc2b8xe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-7wegc2b8xe], .nav-pills .show > .nav-link[b-7wegc2b8xe] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-7wegc2b8xe] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-7wegc2b8xe] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-7wegc2b8xe] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-7wegc2b8xe] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-7wegc2b8xe] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TourBookingWeb/Areas/Admin/Views/Shared/_AdminNavbar.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-arfmz5br3a] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-arfmz5br3a] {
  color: #0077cc;
}

.btn-primary[b-arfmz5br3a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-arfmz5br3a], .nav-pills .show > .nav-link[b-arfmz5br3a] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-arfmz5br3a] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-arfmz5br3a] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-arfmz5br3a] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-arfmz5br3a] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-arfmz5br3a] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TourBookingWeb/Areas/Admin/Views/Shared/_AdminSidebar.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-qiejeqhhg6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-qiejeqhhg6] {
  color: #0077cc;
}

.btn-primary[b-qiejeqhhg6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-qiejeqhhg6], .nav-pills .show > .nav-link[b-qiejeqhhg6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-qiejeqhhg6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-qiejeqhhg6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-qiejeqhhg6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-qiejeqhhg6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-qiejeqhhg6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TourBookingWeb/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-s05lfz6hqv] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-s05lfz6hqv] {
  color: #0077cc;
}

.btn-primary[b-s05lfz6hqv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-s05lfz6hqv], .nav-pills .show > .nav-link[b-s05lfz6hqv] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-s05lfz6hqv] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-s05lfz6hqv] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-s05lfz6hqv] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-s05lfz6hqv] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-s05lfz6hqv] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/TourBookingWeb/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pml8jb1iq9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pml8jb1iq9] {
  color: #0077cc;
}

.btn-primary[b-pml8jb1iq9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pml8jb1iq9], .nav-pills .show > .nav-link[b-pml8jb1iq9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pml8jb1iq9] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pml8jb1iq9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pml8jb1iq9] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pml8jb1iq9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pml8jb1iq9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
